<div id="title">
  <div>
    <p><%= @post.created_at %> </p>
    <h1><%= @post.title %></h1>
  </div>
</div>

<div id="article_wrap">
  <div id="content">
    <div>
      <h2><%= @post.body %></h2>
    </div>
  </div>
</div>
